<header class="card-header">
  <p class="card-header-title">
    Client details
  </p>
</header>
<div class="card-content">
  <div class="content">
    <%= simple_form_for @script, wrapper: :vertical_form, url: scripts_path, html: { id: 'url_form', data: { turbo_frame: 'result' } } do |f| %>
      <%= f.error_notification %>
      <% if proxy_list.any? %>
        <%= f.input :name, collection: proxy_list, label_method: :label, value_method: :value, label: 'Name',
                    required: true, prompt: 'select proxy to use' %>
      <% else %>
        <%= f.input :name, as: :text, label: 'Script or script URL', placeholder: 'Script or script url', required: true %>
      <% end %>
      <%= f.input :ip, label: 'IP', placeholder: 'Client IPv4 (default to 127.0.0.1)', required: false %>
      <%= f.input :url, as: :text, label: 'URL(s)', placeholder: 'URL(s) to validate', required: true,
                  wrapper: :input_addons,
                  addons: '<a class="button" data-action="click->navigate#clear_url">Clear</a>' %>
      <div class="field">
        <div class="control">
          <%= f.button :submit, 'Run', id: 'url', class: 'is-link',
                       data: { disable_with: 'Wait...', action: "click->navigate#clear" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<footer class="footer">
  <div class="content is-size-7">
    <p><strong>*</strong> mandatory field</p>
  </div>
</footer>
